.divWrapper {
    margin: 0;
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: black;
    font-family: 'Quicksand';
    font-weight: 700;
    /*border-bottom: 2px solid gray;*/
}

.divLeft {
    width: 20%;
}

.divCenter {
    width: 60%;
}

.divRight {
    width: 20%;
}

.buttonAuth {
    display: default; /* Change to none and have js handle dislay: default or whatever when the playlist has a name and when at least one song has been added */
    background-color: inherit;
    border: 2px solid hotpink;
    color: hotpink;
    border-radius: 50px;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
}

.buttonAuth:hover {
    background-color: hotpink;
    border: 2px solid hotpink;
    color: black;
}

.buttonSave {
    display: default; /* Change to none and have js handle dislay: default or whatever when the playlist has a name and when at least one song has been added */
    background-color: inherit;
    border: 2px solid #1FD563;
    color: #1FD563;
    border-radius: 50px;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
}

.button:hover {
    background-color: #1FD563;
    border: 2px solid #1FD563;
    color: black;
}