.divWrapper {
    width: 100%;
    height: 80vh;
    z-index: 0;
    overflow: scroll;
}

.track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: black;
    text-align: left;
    border: 2px solid darkslategrey;
    color: lightgray;
}

.img {
    width: 12%;
}

.trackInfo {
    width: 80%;
    padding: 0 0.5rem;
    margin-left: 1.5rem;
}

.ttitle {
    font-weight: bold;
    text-align: right;
}

.tdetail {
    text-align: left;
    padding-left: 0.5rem;
}

.addButton {
    width: 50px;
    background-color: inherit;
    border: inherit;
    font-size: 1.5rem;
    border: 2px solid white;
    color: white;
}

.addButton:hover {
    background-color: #1FD563;
    color: black;
    border: 2px solid #1FD563;
}

.addButton:active {
    border: 0px solid #1FD563;
}