.divWrapper {
    width: 100%;
    z-index: 0;
}

.track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 1rem;
    padding: 0.5rem;
    background-color: black;
    text-align: left;
    border: 2px solid gray;
}

.img {
    width: 10%;
}

.trackInfo {
    width: 80%;
    padding: 0 0.5rem;
}

.addButton {
    width: 50px;
    background-color: inherit;
    border: inherit;
    font-size: 1.5rem;
    border: 2px solid white;
    color: white;
}

.addButton:hover {
    background-color: #1FD563;
    color: black;
    border: 2px solid #1FD563;
}

.addButton:active {
    border: 0px solid #1FD563;
}