.divWrapper {
    background-color: transparent;
    width: 100%;
    /*height: 90%;*/
    margin: 0 auto;
    overflow: scroll;
}

.form {
    width: 100%;
    z-index: 1;
    background-color: transparent;
}

.input {
    border: none;
    border-bottom: 3px solid #1FD563;
    background-color: transparent;
    color: white;
    padding: 0.25rem;
    width: 40%;
    margin: 1rem;
    font-size: 1rem;
    line-height: 1.5;
}

::placeholder {
    color: lightgray;
}

/* Styling of input changes back to default when it's "active" and you're typing input. Find out how to change that so it matches starting state. */

.button {
    padding: 0 1.5rem;
    border: 2px solid white;
    background-color: white;
    color: black;
    font-size: 1rem;
    line-height: 1.5;
}

.button:hover {
    background-color: #1FD563;
    border: 2px solid #1FD563;
}

/* Come back to write css for hover and active states */