.divWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: sticky;
    top: 0;
    /*z-index: 1;*/
    padding: 1rem;
    width: 100%;
    color: white;
    background-color: maroon;
}

.button {
    width: 75px;
    background-color: white;
    color: black;
    border: 2px solid white;
    margin: 0 0.5rem;
    padding: 0.25rem 0;
    font-size: 1rem;
}

button:hover {
    background-color: gold;
    border: 2px solid gold;
}