.divWrapper {
    width: 50%;
    height: 90vh;
    /*border-top: 1px solid gray;*/
    /*border-left: 1px solid black;*/
}

.playlistHeading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*margin: 1rem;*/
    height: 15vh;
    width: 100%;
}

.playlistHeadingNamed {
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin: 1rem;*/
    height: 15vh;
}

.form {
    width: 100%;
}

.input {
    border: none;
    border-bottom: 3px solid #1FD563;
    background-color: transparent;
    color: white;
    padding: 0.25rem;
    width: 40%;
    margin: 1rem;
    font-size: 1rem;
    line-height: 1.5;
}

::placeholder {
    padding-left: 0.25rem;
    color: lightgray
}

/*
.input {
    border: none;
    border-bottom: 3px solid #1FD563;
    background-color: transparent;
    color: white;
    padding: 0.25rem;
    width: 40%;
    margin: 1rem;
    font-size: 1rem;
    line-height: 1.5;
}
*/

.editButton {
    background: inherit;
    border: none;
}

.button {
    margin: 0 0.5rem;
    padding: 0 1.5rem;
    /*padding: 0.25rem;*/
    font-size: 1rem;
    background-color: white;
    color: black;
    border: 2px solid white;
    line-height: 1.5;
}

.button:hover {
    border: 2px solid #1FD563;
    background-color: #1FD563;
}

.button:active {
    border: 2px solid black;
}